body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.custom-font {
	font-weight: 600;
	font-family: monospace;
	font-size: 220%;
	padding-left: 2cm;
	font-family: {"Comic Sans MS", cursive, sans-serif};
}
.custom-li {
	font-size: 120%;
	font-weight: 350;
	font-family: {Arial, Helvetica, sans-serif};
}
.custom-li > li:hover {
	border-radius: 8px;
	background-color: orange;
}
.navbar .nav > li > a, .navbar .logo-text > a {
	color: white;
}
.navbar .logo-text > a:hover {
	color: lightgrey;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
   	display: block;
}
.dropdown-menu .divider {
	margin-top: 5px;
	margin-bottom: 5px;
}
.dropdown-list {
	color: blue;
}
.headline {
	color: rgb(0, 170, 255);
	font-weight: 500;
	font-family: 'Gotham Rounded A','Gotham Rounded B',sans-serif;
}
.line {
	border-bottom-style: solid;
	color: lightgreen;
	margin-bottom: 25px;
}
.spacing {
	margin-bottom: 10px;
}
/*.navbar .nav > li > a, .navbar .nav > li > a:first-letter{
color: rgb(150, 200, 20);     
}
.navbar .logo-text > a, .navbar .logo-text > a:first-letter {
	color:  lightblue;
}*/