/* 
Credit: www.templatemo.com 
Template: 409 travel
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.our-listing {
    position: relative;
    z-index: 98;
    top: 0;
    left: 0;
    margin-top: -50px;
}

@media screen and (min-width: 240px) {
    .our-listing {
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    .our-listing {
        margin-top: -50px;
    }
}

.list-item {
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 15px;
}

.list-item .list-thumb {
    overflow: hidden;
}

.list-item .list-thumb .title {
    font-size: 22px;
    font-weight: 600;
    height: 50px;
    text-align: center;
}

.list-item .list-thumb .title h4 {
    line-height: 50px;
}

.list-item .list-thumb img {
    width: 100%;
}

.list-item .list-content h5 {
    color: #222;
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0 5px 0;
}

.list-item .list-content span {
    color: #e54747;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.list-item .list-content a.price-btn {
    display: block;
    background-color: #222;
    color: #fff;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}

.list-item .list-content a.price-btn:hover {
    background-color: black;
}

